node_red/flows.json
[{"id":"88fa76da39168063","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"1270df0e95d21bd3","type":"mqtt-broker","name":"","broker":"mosquitto","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"b83315bf3d524f4b","type":"ui_tab","name":"MQTT Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"f3ac280edd41b3ef","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d0fda776e2fe44dd","type":"ui_group","name":"MQTT Data","tab":"b83315bf3d524f4b","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"213451e6546499a3","type":"mqtt in","z":"88fa76da39168063","name":"From Docker Publisher","topic":"docker/test/#","qos":"2","datatype":"auto-detect","broker":"1270df0e95d21bd3","nl":false,"rap":true,"rh":0,"inputs":0,"x":300,"y":180,"wires":[["e0a4b1ceb7c935c6","3b9f5c66a9fe39dd"]]},{"id":"e0a4b1ceb7c935c6","type":"debug","z":"88fa76da39168063","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":380,"wires":[]},{"id":"3b9f5c66a9fe39dd","type":"ui_text","z":"88fa76da39168063","group":"d0fda776e2fe44dd","order":0,"width":0,"height":0,"name":"","label":"Last Message","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":420,"y":520,"wires":[]}]